/* all element */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: crimson;
}
.text{
    width: 700px;
    border: 1px solid black;
    margin: 20px;
    background-color: #ccc;
    padding: 20px;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#21d4fd, #b721ff);
    border-radius: 100px;
}