/* all element */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.animation{
    display: flex;
    background-color: blue;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.animation-shape{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    animation: load 0.8s ease infinite;
}
.animation-shape:first-child{
    animation-delay: 0.3s;
}
.animation-shape:nth-child(2){
    animation-delay: 0.4s;
}
.animation-shape:nth-child(3){
    animation-delay: 0.5s;
}
.animation-shape:last-child{
    animation-delay: 0.6s;
}
@keyframes load{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}