<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bg video</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="bg-video">
        <video autoplay loop muted>
            <source src="../static/images/video.mp4" type="">
        </video>
    </div>
    <div class="bg-text">
        <h1>Journey</h1>
        <button>Explore</button>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>