<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
        <video height="300px" autoplay controls>
            <source src="../static/images/video.mp4" type="">
        </video>
    </div>
    <div>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
        <audio controls>
            <source src="../static/images/audio.mp3" type="">
        </audio>
    </div>
</body>
</html>