<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="count">
        <div>
            <h1>count</h1>
            <p>0</p>
            <div class="btn">
            <button>+</button>
            <button>reset</button>
            <button>-</button>
            </div>
        </div>
        
    </div>

    <script src="../static/js/main.js"></script>
</body>
</html>